body{
  background-image: linear-gradient( rgb(183, 183, 241),rgb(128, 129, 129));
  
  background-size: cover;
  overflow-x: hidden;
}
.profileSectionContainer{

  justify-content: center;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
  width: 100vw;

}

.profileSection{
  width: 100%;
   display: flex;
   align-items: center;
  
   justify-content: space-evenly;
   flex-direction: column;
}

.profileSection img{
  width: 70px;
  height:70px;
 border-radius: 50%;
 margin-left: auto;
  
}

.profileSection .profile{
  flex-basis: 100%;
  display: flex !important;
  width: 40%;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  user-select: none;
  box-shadow: 3px 3px 3px 3px grey;
  cursor: pointer;
  border: none;

 
font-family: 'Secular One', sans-serif;
letter-spacing: 3px;

transition: all .2s  ease-in-out ;

  
}
.loading, .no-profiles{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileSection > .profile:nth-child(odd){
  background-image: linear-gradient(to right,rgb(227, 228, 228),rgb(195, 197, 197) );
  /* background-color: rgb(236, 238, 238); */

}

.profileSection > .profile:nth-child(even){
   background-image: linear-gradient(to right,rgb(20, 115, 170),rgb(18, 76, 109) );
  


  /* background-color: rgb(20, 115, 170); */
  color: white;
  

}

.profile:hover{
    transform: scale(1.05);


}


 ::-webkit-scrollbar-track {
  background-color: #c1c4c7; 
}
 

::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background: rgba(77, 80, 82, 0.664); 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}